
RewriteEngine on

RewriteCond %{HTTP_HOST} ^www\.halld\.ujevangelizacio\.hu$
RewriteCond %{REQUEST_URI} !^/[0-9]+\..+\.cpaneldcv$
RewriteCond %{REQUEST_URI} !^/[A-F0-9]{32}\.txt(?:\ Comodo\ DCV)?$
RewriteRule ^(.*)$ "http\:\/\/halld\.ujevangelizacio\.hu\/$1" [R=301,L]
